name: Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: "Build Docker image"
      run: docker build . -t ${{secrets.DOCKERHUB_USERNAME}}/next-js-app
    
    - name: "Login Docker Hub"
      run: echo "${{secrets.DOCKERHUB_PASSWORD}}" | docker login -u ${{secrets.DOCKERHUB_USERNAME}} --password-stdin

    - name: "Push image to Docker Hub"
      run: docker push ${{secrets.DOCKERHUB_USERNAME}}/next-js-app:latest